 body {
    font-family: Arial, sans-serif;
    font-size: 15px;
     line-height: 1.5;
     color: #333;

     background: #eee url("../img/star.jpeg");
     background-size: 200px 200px;
}

.title {
    font-family: Tahoma, sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.justify {
    text-align: justify;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
}

ul {
    list-style-type: square;
    list-style-position: outside;
    color: blue;
}

ol {
    list-style-type: decimal-leading-zero;
}

 .table {
     width: 100%;
    border: 1px dashed #000;
     border-collapse: collapse;
     table-layout: fixed;
}

 .table th {
     padding: 5px 10px;
     text-align: left;

     color: #d6200f;
 }

 .table td {
     padding: 5px 10px;
     border: 1px dashed #000;
 }

 .table tfoot td {
     text-align: right;
 }

 .text-red {
     display: inline-block;
     width: 100px;
     color: #d6200f;
     font-weight: 700;
     font-style: italic;
 }

 .page {
     width: 900px;
     margin-left: auto;
     margin-right: auto;
 }

 /* Post */
 .post {
     width: 600px;
     height: 300px;
     padding: 15px 25px;
     margin: 0 auto 20px;

     border: 1px solid #333333;

     background: url("../img/space1.jpeg") no-repeat center;
     background-size: cover;
 }

 .post-title {
     margin-top: 0;
     margin-bottom: 20px;
     color: yellow;
     text-align: center;
 }

 .post-text p {
     color: white;
 }

 .post-text p {
     margin: 0 0 10px 0;
 }


 /* Gradient */
 .gradient {
     width: 600px;
     height: 300px;
     margin: 0 auto;

     /*background-image: linear-gradient(to right, #fff 20%, #333 20%, #333 40%, #fff 40%, #fff 60%, #333 60%, #333 80%, #fff 80%);*/
     background-image: radial-gradient(circle, #fff, #333);
 }

 /* Form */
 .form {
     width: 500px;
     padding: 20px;
     margin: auto;

     background-color: #fff;
 }

 .form-group {
     margin-bottom: 15px;
 }

 .form-input {
     display: block;
     padding: 5px;

     border: 1px solid #000;

     font-family: Arial, sans-serif;
     font-size: 15px;
 }

 .form-input:focus {
     outline: none;

     background-color: #7ee1e1;
 }

 .textarea {
     width: 200px;
     height: 150px;
     padding: 5px;

     border: 1px solid #000;
     outline: red dotted 5px;

     font: bold italic 15px Arial, sans-serif;
 }

 .textarea:focus {
     outline: none;

     background-color: #7ee1e1;
 }

 .link {
     color: #4747E7FF;
     text-decoration: none;
 }

 .link:visited {
     color: #813ad9;
 }

 .link:hover {
     text-decoration: underline;
 }

 .btn {
     padding: 5px 10px;

     background-color: #189A18FF;
     border: 1px solid #095709;
     color: #fff;
 }

 .btn:focus {
     outline: none;
 }

 .btn:hover,
.btn:focus {
    background-color: #095709;
    cursor: pointer;
}

 .btn:active {
     background-color: #023102;
 }

 .btn:disabled {
     background-color: #444;
     color: #212121;
     cursor: not-allowed;
     border: 1px solid #444;
 }

 .form-fieldset {
     margin-bottom: 20px;
     padding: 20px;

     border: 1px solid #ccc;
 }

 .form-title {
     margin: 0 0 15px;
 }




