@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro-Medium.woff") format("woff");
}

@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro-Black.woff") format("woff");
    font-weight: 700px;
}

@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro-BlackItalic.woff") format("woff");
    font-style: italic;
}


body {
     margin: 0;
     font-family: 'GothamPro', sans-serif;
     font-size: 15px;
     line-height: 1.5;
     color: #333;

     background: #fff;
     background-size: 200px 200px;
}

 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }

.title {
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.justify {
    text-align: justify;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
}

ul {
    list-style-type: square;
    list-style-position: outside;
    color: blue;
}

ol {
    list-style-type: decimal-leading-zero;
}

 .table {
     width: 100%;
    border: 1px dashed #000;
     border-collapse: collapse;
     table-layout: fixed;
}

 .table th {
     padding: 5px 10px;
     text-align: left;

     color: #d6200f;
 }

 .table td {
     padding: 5px 10px;
     border: 1px dashed #000;
 }

 .table tfoot td {
     text-align: right;
 }

 .text-red {
     display: inline-block;
     width: 100px;
     color: #d6200f;
     font-weight: 700;
     font-style: italic;
 }

 .page {
     width: 900px;
     margin-left: auto;
     margin-right: auto;
 }

 /* Post */
 .post {
     width: 600px;
     height: 300px;
     padding: 15px 25px;
     margin: 0 auto 20px;

     border: 1px solid #333333;

     background: url("../img/space1.jpeg") no-repeat center;
     background-size: cover;
 }

 .post-title {
     margin-top: 0;
     margin-bottom: 20px;
     color: yellow;
     text-align: center;
 }

 .post-text p {
     color: white;
 }

 .post-text p {
     margin: 0 0 10px 0;
 }


 /* Gradient */
 .gradient {
     width: 600px;
     height: 300px;
     margin: 0 auto;

     /*background-image: linear-gradient(to right, #fff 20%, #333 20%, #333 40%, #fff 40%, #fff 60%, #333 60%, #333 80%, #fff 80%);*/
     background-image: radial-gradient(circle, #fff, #333);
 }

 /* Form */
 .form {
     width: 500px;
     padding: 20px;
     margin: auto;

     background-color: #fff;
 }

 .form-group {
     margin-bottom: 15px;
 }

 .form-input {
     display: block;
     padding: 5px;

     border: 1px solid #000;

     font-family: Arial, sans-serif;
     font-size: 15px;
 }

 .form-input:focus {
     outline: none;

     background-color: #7ee1e1;
 }

 .form-textarea {
     width: 200px;
     min-height: 150px;
     max-height: 250px;
     padding: 5px;

     border: 1px solid #000;
     outline: red dotted 5px;
     resize: vertical;

     font: bold italic 15px Arial, sans-serif;
 }

 .form-textarea:focus {
     outline: none;

     background-color: #7ee1e1;
 }

 .link {
     color: #4747E7FF;
     text-decoration: none;
 }

 .link:visited {
     color: #813ad9;
 }

 .link:hover {
     text-decoration: underline;
 }

 .btn {
     padding: 5px 10px;

     background-color: #189A18FF;
     border: 1px solid #095709;
     color: #fff;

     transition: background 0.2s linear, border-color 0.2s linear;
 }

 .btn:focus {
     outline: none;
 }

 .btn:hover,
 .btn:focus {
     background-color: #9ea40e;
     border-color: #c29a4d;
     cursor: pointer;
 }

 .btn:active {
     background-color: #023102;
 }

 .btn:disabled {
     background-color: #444;
     color: #212121;
     cursor: not-allowed;
     border: 1px solid #444;
 }

 .form-fieldset {
     margin-bottom: 20px;
     padding: 20px;

     border: 1px solid #ccc;
 }

 .form-title {
     margin: 0 0 15px;
 }

 /* modal */

 .modal {
     width: 500px;
     height: 300px;
     margin: 20px auto;
     padding: 15px;
     position: relative;

     background-color: #eee;
 }

 .modal-title {
     margin: 0;
 }

 .square {
     width: 50px;
     height: 50px;

     background-color: #212121;

     position: absolute;
     top: -10px;
     right: -10px;
     z-index: 2;
 }

.square.red {
    background-color: #d6200f;
    right: -15px;
    top: -5px;
    z-index: 1;
}

.square-fixed {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;

    background-color: #074d98;

    position: fixed;
    top: 50%;
    left: 50%;

}

/* pseudo */

.pseudo-title {
    margin: 0;
    position: relative;

    font-size: 30px;
    text-align: center;
}

 .pseudo-title:before {
     content: "";
     display: block;
     margin-left: -35px;
     width: 70px;
     height: 3px;

     background-color: #e11d4b;
     position: absolute;
     bottom: -5px;
     left: 50%;

 }

 .pseudo-title:after {
     content: "";
     display: block;
     margin: 5px auto;
     width: 70px;
     height: 3px;

     background-color: #074d98;
 }

 .pseudo-text p:first-letter {
     font-size: 25px;
 }

 .pseudo-text p:first-line {
     color: #d6200f;
 }

/* css3 */

 .element {
     width: 400px;
     height: 400px;
     margin: 20px auto;
     padding: 20px;


     background-color: #ccc;
     /* border-radius: 20% 20% 30% 40% / 30% 30% 40% 50%;*/
     border-radius: 20px;
     box-shadow: -5px 5px 5px #b0a3a3 inset, -10px 5px 20px #f3efef;
     opacity: 0.8;
 }

.element-title {
    margin: 0;

    text-shadow: 1px 1px 2px #000, 2px 2px 5px #d6200f;
}

/* page */

 .page {
     width: 600px;
     margin: 20px auto;
 }

 .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;

     background-color: #eee;
 }

 .header-item {
     flex-basis: 0;
     flex-grow: 1;
 }

 .header-tel {
     order: 1;
 }

 .header-logo {
     order: 2;
 }

.header-lang {
    order: 3;
}

 .content {
     display: flex;
 }

.sidebar {
    width: 20%;
    padding: 10px;

    background-color: #333;
}

.main {
    width: 60%;
    padding: 20px;

    background-color: #ccc;
}

.footer {
    padding: 20px;
    background-color: #eee;
}



